
<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <div>
          <app-customer></app-customer>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <div>
          <app-loan></app-loan>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <div>
        <app-capitaldetails></app-capitaldetails>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 4</ng-template>
        <div>
          <app-authdoc></app-authdoc>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 5</ng-template>
      <div>
        <img src="../assets/imgs/banner-welcome.jpg" alt="Welcome" style="width: 1200px; height: 500px;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  