<div class="container">
    <br>
    <h1>Admin DashBord</h1>

    <mat-tab-group>
        <mat-tab label="Search Details">
           <div>
               <app-search></app-search>
           </div>
        </mat-tab>

        <mat-tab label="Customer Details"> 
             <div>
                <app-admin></app-admin>
            </div>

        </mat-tab>
        <mat-tab label="Log Out">
            <div>
                <br>
                <button class="btn btn-warning" (click)="logout()">LogOut</button>
            </div>
         </mat-tab>


        
      </mat-tab-group>

 </div>

 